.header{
    text-align: center;
    /*position: fixed;*/
    height: 30px;
    width: 100%;
    /*z-index: 10;*/
    /*top: 0;*/
}

.buttonGroup{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 55px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 30px;
}

.button-bg{
    background: none;
    color: black;
    height: 70px;
}

.btn{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 55px;
    margin-left: 55px;
    color: #7fe3fa;
    border: none;
    border-radius: 15px;
    width: 80px;
    height: 30px;
}


#navbar{
    background: none;
    color: #7fe3fa;

}

#topmodal {
    background: white;
    color: black;
}

#navtoggle{
    margin-right: 15px;
    background: gray;

}

#Modal{
    background-color: #7fe3fa;
    padding-left: 35px;
}
.logo{
    color: white;
    font-size: 35px;
    margin-left: 53px;
}
#CardP{
    color: black;
    justify-content: space-around;
    padding-left: 5px;
}

#cl-cart{
    border-radius: 15px;
    background: gray;
    border: none;
    width: 80px;
    height: 30px;
}

#text{
    text-align: center;
    color: #000000;
    font-size: 16px;
}

#me-auto{
    background: red;
}



#close{
    color: red;
    background: transparent;
    border: none;
}
#br{
    color: black;
    margin-left: 30px;
    margin-top: 45px;
    font-size: 30px;
}

#add{
    border-radius: 15px;
    background: gray;
    border: none;
    width: 80px;
    height: 30px;
}

#navbar{
    height: 61px;
}

.Desc{
    position: absolute;
    z-index:10;
    background: #F4F3E9;
    font-style: inherit;
}

#text-card-bottom{
    padding-top: 20px;
    text-align: center;
}

.del-button{
    background-color: #E07748;
    width: 400px;
    border: white;
    color: #E5E5E5;
}


#buy{
    background-color: #E07748;
    width: 400px;
    height: 80px;
    font-size: 22px;
    border: none;
    margin-top: 3px;
    color: #E5E5E5;
}