#img{
    width: 312px;
    height: 290px;
}

#text{
    text-align: center;
    width: 300px;
    padding-right: 14px;
}

#CardGroup{
    width: 333px;
    background: #d5e0e3;
}

#Card{
    margin: 7px;
    border: 1px solid #F4F3E9;

}

.inp{
    width: 60px;
    margin-left: 10px;
    background-color: #F4F3E9;


}


.Desc{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    width: 285px;

}

#btn{
    text-align: center;
    width: 78px;
    background-color: transparent;
    color: black;
    border: none;
    height: 35px;
}

#Description{
    background-color: #F4F3E9;
    border: none;
    margin-top: 3px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: #7fe3fa;
    border-color: #7fe3fa;
}

#btn-on-cart{
    background-color: #7fe3fa;
    margin-left: 10px;
    pading-top: 15px;

}
