.footer{
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    background: #7fe3fa;
    height: 280px;
    margin-top: 80px;
    padding-top: 20px;
}

.center-footer{
    position: absolute;
    text-align: left;
    color: white;
    margin-top: 10px;
    left: 60%;
}

.right-footer{
    position: absolute;
    text-align: left;
    color: white;
    margin-top: 10px;
    left: 80%;
}

.left-footer{
    position: absolute;
    left: 2%;
}
#footer-text{
    margin-top: 20px;
    font-size: 60px;
}

#footer-time{
    position: absolute;
    font-size: 15px;
    top: 200px;
    width: 130px;
}

#light-text{
    color: white;
    font-weight: bold;
}

#a {
    color: white;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}