#CardP{
    margin-top: 70px;
    padding-left: 50px;
}

#load{
    justify-content: center;
    height: 420px;
    padding-top: 200px;
}

.load-spinner{
    width: 120px;
    height: 120px;
    font-size: 50px;
}

body{
    background-color: #d5e0e3;
}